<div class="todo_form">
  <% form_tag :action => :create_goal do %>
    <%= text_field_tag 'new_goal', '', :size => '70', :class => 'yrkds_text' %>
    <%= submit_tag '目標設定＆ツイート', :class => 'yrkds_submit' %><br />
  <% end %>
  <p class="form_remarks">例）○○をやる、○○を終わらせる、○kg痩せる、○日禁煙する、等</p>
</div>
<div class="yarukotos clearfix">
  <% @goals.each do |goal| %>
  <div class="yarukoto">
    <div class="personal clearfix">
      <div class="icon">
        <%= image_tag goal.user.profile_image_url, :size => '48x48', :alt => 'profile_image', :border => '0' %>
      </div>
      <div class="data">
        <div class="name">
          <%= goal.user.login%>さん
        </div>
        <div class="stars">
          <%= goal.subject %>（<%= goal.created_at.strftime("%Y/%m/%d") %>）
        </div>
        <div class="status">
<!--
          <input type="submit" class="yrkds_submit" value="がんばって！" />
          <input type="submit" class="yrkds_submit" value="自分もヤル" />
-->
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
