<% title "Goals" %>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Opened At</th>
    <th>Closed At</th>
    <th>Status</th>
    <th>Subject</th>
  </tr>
  <% for goal in @goals %>
    <tr>
      <td><%=h goal.id %></td>
      <td><%=h goal.user_id %></td>
      <td><%=h goal.opened_at %></td>
      <td><%=h goal.closed_at %></td>
      <td><%=h goal.status %></td>
      <td><%=h goal.subject %></td>
      <td><%= link_to "Show", goal %></td>
      <td><%= link_to "Edit", edit_goal_path(goal) %></td>
      <td><%= link_to "Destroy", goal, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Goal", new_goal_path %></p>
