<% title "Goal" %>

<p>
  <strong>Id:</strong>
  <%=h @goal.id %>
</p>
<p>
  <strong>User:</strong>
  <%=h @goal.user_id %>
</p>
<p>
  <strong>Opened At:</strong>
  <%=h @goal.opened_at %>
</p>
<p>
  <strong>Closed At:</strong>
  <%=h @goal.closed_at %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @goal.status %>
</p>
<p>
  <strong>Subject:</strong>
  <%=h @goal.subject %>
</p>

<p>
  <%= link_to "Edit", edit_goal_path(@goal) %> |
  <%= link_to "Destroy", @goal, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", goals_path %>
</p>
