<% form_tag :action => 'finished', :id => goal.id, :to_user_id => goal.user.id do %>
<li>
<%=h goal.subject %>
<% if @mypage %>
  <%= submit_tag '達成！', :class => 'yrkds_submit' %>
  <%= hidden_field_tag :mypage, '1' %>
<% else %>
  <%= submit_tag 'がんばって！', :class => 'yrkds_submit' %>
  <%= hidden_field_tag :mypage, '0' %>
<% end %>
</li>
<% end %>
