<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= APP_CONFIG[:site_title] %></title>
<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'smoothness/jquery-ui.custom' %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui.custom.min' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'jrails' %>
<%= javascript_include_tag 'fixHeight' %>

<%= google_analytics %>
</head>

<body>
<div id="container">
  <div id="header">
    <div class="boxinner clearfix">
      <div class="header_left"><%= link_to image_tag('header.png', :size => '472x60', :alt => 'YARUKIDAS', :border => '0'), root_path %></div>
      <div class="header_right"><%= link_to image_tag('banner.jpg', :size => '468x60', :alt => 'YARUKIDAS', :border => '0'), "http://www.katsumaweb.com/modules/katsumadiary/index.php?content_id=1", :target => '_blank' %></a></div>
    </div>
  </div>
  <div id="contents">
    <% if flash[:notice] %>
    <div class="boxouter boxlarge bgred" id="effect">
      <div class="boxinner">
        <%= flash[:notice] %>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer" class="clearfix">
    <div class="boxinner">Produced by <%= link_to 'Open Innovation Lab', 'http://oil-710.com/', :target => '_blank' %></div>
  </div>
</div>
</body>
</html>
