<h1>Editing cheer_log</h1>

<% form_for(@cheer_log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :goal_id %><br />
    <%= f.text_field :goal_id %>
  </p>
  <p>
    <%= f.label :from_user_id %><br />
    <%= f.text_field :from_user_id %>
  </p>
  <p>
    <%= f.label :to_user_id %><br />
    <%= f.text_field :to_user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cheer_log %> |
<%= link_to 'Back', cheer_logs_path %>